<h1><%= current_user.email %></h1>

<h3>My Sounds</h3>

<div id="recordings-wrapper">
    <% @tracks.each do |track| %>
    <div class="single-recording">
        <p><%= (track.name != nil) ? "#{track.name.capitalize}" : "- no name" %></p>
        <p><%= link_to image_tag("play.png", size: "35"), root_path, remote: true, class: 'play-track-from-user-profile', :id => track.id %></p>

      </div>
    <% end %>
</div>

<!-- play button has id so when click play, JS knows which track to play -->
