<h1 class="text-center" id="my-sounds">My Sounds</h1>

<div id="recordings-wrapper">
    <% @tracks.each_with_index do |track, index| %>
      <div class="single-recording" id="<%= track.id %>">
        <h2><%= (track.name == "") ? "Track ##{index + 1}" : "#{track.name.capitalize}" %></h2>
        <%= link_to image_tag("play.png", size: "150"), root_path, remote: true, class: 'play-track-from-user-profile'%>
        <%= link_to 'Delete', track, method: :delete, remote: true, data: { confirm: "You sure?" }, :class => "delete-track" %>
      </div>
    <% end %>
</div>