<h1><%= current_user.email %></h1>

<h3>My Sounds:</h3>

<div id="user-tracks">
  <ul>
    <% @tracks.each do |track| %>
      <li>
        <%= track.id  %>
        <p><%= (track.name != nil) ? "- #{track.name}" : "- no name" %></p>
        <!-- gave id in link_to so that when click play, JS knows which track to play -->
        - <%= link_to 'play', root_path, remote: true, class: 'play-track-from-user-profile', :id => track.id %>
      </li>
    <% end %>
  </ul>
</div>



<!-- on getting @tracks to JS, but i need the specific track clicked -->
<!-- http://stackoverflow.com/questions/2721880/ruby-on-rails-send-javascript-variable-from-controller-to-external-javascript -->
