<div id='outer-div' style="overflow-x:auto">
  <div class="grid">
    <a href="#"><div id="key-7">7</div></a>
    <a href="#"><div id="key-8">8</div></a>
    <a href="#"><div id="key-9">9</div></a>
    <a href="#"><div id="key-4">4</div></a>
    <a href="#"><div id="key-5">5</div></a>
    <a href="#"><div id="key-6">6</div></a>
    <a href="#"><div id="key-1">1</div></a>
    <a href="#"><div id="key-2">2</div></a>
    <a href="#"><div id="key-3">3</div></a>
  </div>
</div>
